{% extends 'style/list.html.twig' %}

{% block title %} Style {{ style.name }} {% endblock %}



{% block breadcrumb %}

    {{ parent() }} / <a href="{{ asset('#') }}" class="header_breadcrumbs_1">стили</a>

{% endblock %}



{% block body %}

    <section class="page">
        <div class="container">
            <div class="page_block page_title_block"></div>
            <h2 class="page_title">{{ style.name }}</h2>
            <div class="row main">
                <div class="col-md-3 col-sm-12">
                    <aside class="sidebar">
                        <ul class="sidebar_list">

                            {% for style in styleSection.getStyles() %}

                                <li class="sidebar_item"><a href="{{ path('style_show', {
                                        'name': style.name
                                    }) }}" class="sidebar_item_link">{{ style.name }}</a></li>

                            {% endfor %}

                        </ul>
                    </aside>
                </div>
                <div class="col-md-9 col-sm-12 content">
                    <div class="content_item" id="item_1">
                        <h3>{{ style.name }}</h3>
                        <div class="row">
                            <article class="col-12 content_article">

                                <p>{{ style.content }}</p>

                                <p class="content_article_p_title">Характеристики:</p>
                                Алкоголь по объему	4,3-5,5%<br>
                                Начальная плотность	1,044-1,052<br>
                                Конечная плотность	1,008-1,014<br>
                                Горечь	25-50 IBU<br>
                                Цвет	11-17 SRM<br>

                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}