{% extends 'base.html.twig' %}

{% block breadcrumb %}{% endblock %}

 {% block body %}

  <section class="news">
   <div class="container">
    <div class="news_block section_title_block"></div>
    <h2 class="section_title">Новости</h2>
    <div class="row">

     {% for article in articles %}

      <div class="col-md-4 col-sm-12 news_block">
       <a href="news/article.html">
        <div class="news_item" style="background-image:url('{{asset('../img/' ~ article.image)}}')">
         <div class="news_item_date">{{ article.postDate|date('Y-m-d') }}</div>
         <div class="news_item_subtitle">{{ article.name }}</div>
         <div class="news_item_article">
          {{ article.content }}</div>
         <div class="news_item_line"></div>
        </div>
       </a>
      </div>

     {% endfor %}

    </div>
   </div>
  </section>

  <section class="styles">
   <div class="container carousel">
    <div class="section_header">
     <div class="styles_block section_title_block"></div>
     <h2 class="section_title">Виды пива</h2>
     <a class="section_openall" href="{{ path('styles') }}">Открыть все</a>
     <div class="section_arrows">
      <!-- <a href="#" class="section_arrows_left"><</a>
      <a href="#" class="section_arrows_right">></a> -->
     </div>
    </div>
    <div class="row carousel_inner_styles">

     {% for style in styles %}

     <div class="col-md-3">
      <a href="{{ path('style_show', {
       'name': style.name,
      }) }}">
       <div class="styles_item styles_item_1">
        <div class="styles_item_img"></div>
        <div class="styles_item_subtitle">{{ style.name }}</div>
        <div class="styles_item_country">Великобритания</div>
       </div>
      </a>
     </div>

     {% endfor %}

     <div class="col-md-3">
      <a href="{{ path('styles') }}">
       <div class="styles_item styles_item_8">
        <div class="styles_item_img"></div>
        <div class="styles_item_subtitle">Все виды</div>
       </div>
      </a>
     </div>
    </div>
   </div>
  </section>


  <section class="countries">
   <div class="container carousel">
    <div class="section_header">
     <div class="countries_block section_title_block"></div>
     <h2 class="section_title">Страны</h2>
     <a class="section_openall" href="{{ path('countries') }}">Открыть все</a>
     <div class="section_arrows">
      <!-- <a href="#" class="section_arrows_left"><</a>
      <a href="#" class="section_arrows_right">></a> -->
     </div>
    </div>
    <div class="row carousel_inner_countries">

     {% for country in countries %}

      <div class="col-md-2">
       <a href="{{ path('country_show', {
        'name': country.name,
       }) }}">
        <div class="countries_item countries_item_10">
         <div class="countries_item_img" style="background-image:url('{{asset('../img/countries/' ~ country.image)}}')"></div>
         <div class="countries_item_country">{{ country.name }}</div>
        </div>
       </a>
      </div>

     {% endfor %}

     <div class="col-md-2">
      <a href="{{ path('countries') }}">
       <div class="countries_item countries_item_12">
        <div class="countries_item_img"></div>
        <div class="countries_item_subtitle">Все страны</div>
       </div>
      </a>
     </div>

    </div>
   </div>
  </section>

 {% endblock %}