{% extends 'base.html.twig' %}

{% block breadcrumb %}

    {{ parent() }} / <a href="{{ asset('/news') }}" class="header_breadcrumbs_1">новости</a>

{% endblock %}

{% block body %}

<section class="page">
    <div class="container">
        <div class="page_block page_title_block"></div>
        <h2 class="page_title">Новости</h2>
        <div class="row page_search_row">
            <div class="col-lg-2 d-none d-lg-block">
                <div class="page_search_res">найдено {{ articles|length }} статей</div>
            </div>
            <div class="col-lg-4 offset-lg-1 d-none d-lg-block">
                <input class="search page_search header_search" type="text">
                <img class="search_icon page_search_icon header_search_icon" src="{{ asset('../icons/search logo.png') }}" alt="search">
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="page_sort">
                    Сортировать: <a class="page_sort_type" id="sort_alp_asc" href="#">по алфавиту</a> / <a href="#">по релевантности</a> / <a href="#">по популярности</a> / <a href="#">по дате</a>
                </div>


            </div>
        </div>
        <div class="row main">
            <div class="col-md-3 col-sm-12">
                <aside class="sidebar">
                    <ul class="sidebar_list">

                        {% block sidebar %}

                            {% for articleSection in articleSections %}

                                <li class="sidebar_item"><a href="{{ path('section_show', {
                                        'name': articleSection.name,
                                    }) }}" class="sidebar_item_link">{{ articleSection.name }}</a></li>

                            {% endfor %}

                        {% endblock %}

                    </ul>
                </aside>
            </div>
            <div class="col-md-9 col-sm-12 content_news">

                {% include 'article/_sortlist.html.twig' %}

            </div>
        </div>
    </div>
</section>

<nav class="pagination" aria-label="Пагинация">
    <ul class="pagination_list">

        {% if page != 1 %}

            <li><a class="pagination_item" href="?page=1">Первая</a></li>

        {% endif %}

        {% if page - 2 > 0 %}

            <li><a class="pagination_item" href="?page={{ page - 2 }}">{{ page - 2 }}</a></li>

        {% endif %}

        {% if page - 1 > 0 %}

            <li><a class="pagination_item" href="?page={{ page - 1 }}">{{ page - 1 }}</a></li>

        {% endif %}

        <li><a class="pagination_item pagination_item_active" href="?page={{ page }}">{{ page }}</a></li>

        {% if page + 1 <= total_pages %}

            <li><a class="pagination_item" href="?page={{ page + 1 }}">{{ page + 1 }}</a></li>

        {% endif %}

        {% if page + 2 <= total_pages %}

            <li><a class="pagination_item" href="?page={{ page + 2 }}">{{ page + 2 }}</a></li>

        {% endif %}

        {% if page != total_pages %}

            <li><a class="pagination_item" href="?page={{ total_pages }}">Последняя</a></li>

        {% endif %}

    </ul>
</nav>
     
 {% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        $('.page_sort_type').on('click', function(e) {

            let id = this.id;
            $('.page_sort_type').removeClass('page_sort_active');
            $(this).addClass('page_sort_active');

            if($(this).attr("id") === "sort_alp_asc"){
                $(this).attr("id", "sort_alp_desc");
                $(this).html( "по алфавиту▼" );
            } else{
                $(this).attr("id", "sort_alp_asc");
                $(this).html( "по алфавиту▲" );
            }

            e.preventDefault(); //Prevent Default action.

            $.ajax({
                url: "{{ path("news_ajax_sort") }}",
                type: 'POST',
                dataType: 'html',
                // contentType: "application/json",
                data: {
                    'sortType': id
                }
            }).done(function (data) {
                $('.content_news').html(data);
            });
        });

        $('.page_search').on('keyup', function(e) {

            let searchText = $(".page_search").val();

            e.preventDefault(); //Prevent Default action.

            $.ajax({
                url: "{{ path("country_ajax_search") }}",
                type: 'POST',
                dataType: 'html',
                // contentType: "application/json",
                data: {
                    'searchText': searchText
                }
            }).done(function (data) {
                $('.content_countries').html(data);
            });

        });

    </script>

{% endblock %}