{% extends 'article/list.html.twig' %}

{% block title %} Article {{ article.name }} {% endblock %}

{% block breadcrumb %}

    {{ parent() }} / <a href="{{ asset('#') }}" class="header_breadcrumbs_1">{{ article.name|lower }}</a>

{% endblock %}

{% block body %}

    <section class="page">
        <div class="container">
            <div class="page_block page_title_block"></div>
            <h2 class="page_title">Законы</h2>
            <div class="row main">
                <div class="col-md-3 col-sm-12">
                    <aside class="sidebar">
                        <ul class="sidebar_list">
                            <li class="sidebar_item"><a href="#item_1" class="sidebar_item_link">Пиво</a></li>
                            <li class="sidebar_item"><a href="#item_2" class="sidebar_item_link sidebar_item_link_active">Законы</a></li>
                            <li class="sidebar_item"><a href="#item_3" class="sidebar_item_link">Технологии</a></li>
                            <li class="sidebar_item"><a href="#item_4" class="sidebar_item_link">Бары и магазины</a></li>
                            <li class="sidebar_item"><a href="#item_5" class="sidebar_item_link">Русский хмель</a></li>
                            <li class="sidebar_item"><a href="#item_6" class="sidebar_item_link">Вино и крепкий алкоголь</a></li>
                            <li class="sidebar_item"><a href="#item_7" class="sidebar_item_link">Трезвость</a></li>
                            <li class="sidebar_item"><a href="#item_8" class="sidebar_item_link">Добрые дела</a></li>
                            <li class="sidebar_item"><a href="#item_9" class="sidebar_item_link">Видеоканал</a></li>
                            <li class="sidebar_item"><a href="#item_10" class="sidebar_item_link">Аналитика</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-9 col-sm-12 content">
                    <div class="content_item" id="item_1">
                        <p class="content_item_date">{{ article.postDate|date('Y-m-d') }}</p>
                        <h3>{{ article.name }}</h3>
                        <div class="row">
                            <article class="col-12 content_article">
                                <div class="content_item_img" style="background-image:url('{{asset('../img/' ~ article.image)}}')"></div>
                                <div class="content_item_text">

                                    {{ article.content }}

                                </div>
                                <div class="content_item_tags">Теги:

                                    {% for tag in article.GetTags %}
                                        <a class="content_item_tags_link" href="#">{{ tag.name }}</a>
                                    {% endfor %}

                                </div>
                                <div class="content_item_container">
                                    <div class="content_news_item_subline content_item_subline">
                                        <span class="content_item_subline_author">Автор: <a href="#">Админ</a></span>




                                        <span class="content_news_item_subline_activity"><span class="content_item_subline_share"></span><span class="content_news_item_subline_activity_likes">{{ article.getLikes }}</span><span class="content_news_item_subline_activity_views">{{ article.getViews }}</span></span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <section class="similar_news">
                        <div class="section_header similar_news_header">
                            <div class="section_title_block similar_news_title_block"></div>
                            <h3 class="section_title similar_news_title">Похожие статьи</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="similar_news_item similar_news_item_1">
                                        <div class="similar_news_item_img"></div>
                                        <div class="similar_news_item_subtitle">В Швеции разработали автономную пивоварню на солнечных батареях</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="similar_news_item similar_news_item_2">
                                        <div class="similar_news_item_img"></div>
                                        <div class="similar_news_item_subtitle">Дуббель (англ. Belgian Dubbel Ale)</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <div class="similar_news_item similar_news_item_3">
                                        <div class="similar_news_item_img"></div>
                                        <div class="similar_news_item_subtitle">Ирландский красный эль (англ. Irish Red Ale)
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

{% endblock %}